* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    text-align:center;
}

body {
    display: grid;
    font-family: "Eagle Lake", serif;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    overflow: auto;
}

header {
    position: sticky;
    top:0;
    height: 12vh;
}

.header-content {
    background-color: #300458;
    height: 12vh;
    width:100%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}

button {
    background-color: rgba(255, 255, 255, 0) ;
    border-style: none;
}

header a {
    text-decoration: none;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-family: 'Eagle Lake', serif;
    margin: 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

header h1:hover {
    color: #a49bda;
    transform: scale(1.1);

}

.user-icon {
    width: auto;
    height: 4em;
    border-radius: 50%;
    align-self: center;
    border: 0.2rem solid #5f52aa;
    transition: all 0.3s ease;
}

.user-icon:hover {
    background-color: #a49bda;
    transform: scale(1.1);
}


main {
    background-color: #7f1fda;
    color: white;
    font-family: 'Eagle Lake', serif;
    width: 100dvw;
}

.main-content {
    background-image: url("./fondo.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display:flex;
    justify-content: center;
}


.gallery {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}


.row1 img{
    width: 200px; /* Escala relativa al contenedor */
    height: 200px;
    border: 5px solid #ccc; /* Unidades absolutas */
    border-radius: 8px; /* Unidades absolutas */
    border-color: #5f52aa;
    transition: transform 0.3s ease; /* Animación suave */
}

.row2 img {
    width: 100px; /* Escala relativa al contenedor */
    height: 100px;
    border: 5px solid #ccc; /* Unidades absolutas */
    border-radius: 100px; /* Unidades absolutas */
    border-color: #5f52aa;
    transition: transform 0.3s ease; /* Animación suave */
}

.row1 img:hover {
    transform: scale(1.1); /* Efecto relativo */
    border-color: #a49bda; /* Cambiar color del borde */
}

.row2 img:hover {
    transform: scale(1.1); /* Efecto relativo */
    border-color: #a49bda; /* Cambiar color del borde */
}

.row1, .row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: #300458;
    color: white;
    height: 8vh;
    font-size: 0.7em;
}

.footer-content {
    margin: 1rem;
    text-align: center;
}


@media (max-width: 760px) {
    h1 {
        font-size: 1.5em;
    }
    .header-content {
        height: 10vh;
    }
    .header {
        height: 10vh;
    }
}

  /* Diseño responsivo */
@media (max-width: 768px) {
    .gallery-title {
      font-size: 1.5rem; /* Texto más pequeño en pantallas pequeñas */
    }
    .gallery {
      gap: 1rem; /* Reducir espacio entre imágenes */
    }
}