* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    text-align:center;
}

body {
    display: grid;
    font-family: "Eagle Lake", serif;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    overflow: auto;
}

button {
    border: none;
    background-color: #2f045800;
}

/*header*/

header {
    position: sticky;
    top:0;
    height: 12vh;
    z-index:2;
}

.header-content {
    background-color: #300458;
    height: 12vh;
    width:100%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}

    header a {
        text-decoration: none;
    }

    header h1{
        color: white;
        font-family: 'Eagle Lake', serif;
        font-size:2.5em;
        margin: 0;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    header h1:hover {
        color: #a49bda;
        transform: scale(1.1);
    }

    header .image-dropdown{
        appearance: none;
        background-image: url("../images/user.png");
        background-size: contain;
        height: 4em;
        width: 4em;
        border-radius: 50%;
        align-self: center;
        border: 0.2rem solid #5f52aa;
        transition: all 0.3s ease;
    }

    .image-dropdown:hover {
        transform: scale(1.1);
        border-color: #a49bda;
    }


/*main*/

main {
    color: white;
    font-family: 'Eagle Lake', serif;
    width: 100dvw;
}

.main-content {
    background-image: url("./images/fondo.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(3, auto);

    gap: 0.5rem;
    border: 0.5em #5F52AA solid;
    border-radius: 1em;;
    background-color: #5F52AA;

}

    .container > div{
        background-color: #300458;
        padding: 1rem;
        border-radius: 1em;
    }

    .container > div.titulo {
        grid-area: 1/1/1/span 3;
        text-align: center;
    }

    .container > div.icons{
        grid-area: 2, 2, 2, 2;
        padding: 0.1rem;
    }
    
        .icons{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
        
     



        .icons img {
            height: 4em;
            justify-content: space-around;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #300458;
            border:0.1rem #5f52aa solid;
        }


        .edit img {
            height: 4em;
            justify-content: space-around;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #300458;
            border:0.1rem #5f52aa solid;
        }
        .icons img:hover  {
            opacity: 100%;
        }
        .edit img:hover  {
            opacity: 100%;
        }

            select {
                background-image: url("./images/add.png");
                background-size: contain;
            
                height: 4em;
                width: 4em;
                border-radius: 50%;
                align-self: center;
                border: 0.1rem solid #5f52aa;
                transition: all 0.3s ease;
            }

    .container > div.maincontent {
        grid-area: 3/1/3/4;
        display: grid;
        grid-template-rows: 1fr auto;
        background-color: #300458;
    }

        .text {
            text-align: left;
        }

        .side {
            gap: 2em;
            margin-bottom: 1em;
        }

                .side img {
                    float: left;
                    margin-right: 1rem;
                    padding-bottom: 1rem;
                }

                .portada {
                    height: auto;
                    width: 15em;
                }

                .padding {
                    padding: 1rem;
                }

                        .textcontent {
                            display: flex;
                            flex-direction: row;
                        }

                            .content {
                                text-align: left;
                                display: grid;
                                grid-template-columns: 1fr 4fr;
                                gap: 1rem;
                            }

                        .summary {
                            grid-area: summary;
                            text-align: left;
                        }
    
        .content2{
            text-align: left;
            display: inline-flex;
            justify-content: space-around;
            gap: 1rem;
        }

    .container > div.lists{
        grid-area: 2/2/auto/span 1;
        text-align: left;
        align-items: center;
        overflow-x: auto;
    
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
    }
    .container > div.edit{
        grid-area: 2/3/2/3;
        text-align: left;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        font-family: 'Eagle Lake', serif;
    }

    .lists a{
        text-decoration: none;
        color: white;
    }

@media (max-width: 760px) {
    h1 {
        font-size: 1.5em;
    }
    .header-content {
        height: 10vh;
    }
    .header {
        height: 10vh;
    }
}

  /* Diseño responsivo */
@media (max-width: 768px) {
    .gallery-title {
      font-size: 1.5rem; /* Texto más pequeño en pantallas pequeñas */
    }
    .gallery {
      gap: 1rem; /* Reducir espacio entre imágenes */
    }
}




.carruselbtn {
    background-image: url("../images/back.png");
    background-size: contain;
    float: top;
    height: 3.2em;
    
    width: 3.5em;
    position: absolute;
    top: 14%;
    left: 2%;
    padding: 0;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    z-index: 1;
}

.carruselbtn button {
    height: 100%;
    width: 100%;
    
}

.carruselbtn a {
    height: 100%;
    width: 100%;
}

.buttons {
    background-color: white;
    border-radius: 1em;
    border:#a49bda solid 0.1rem;
    height: 2em;
    width: 8em;
    align-self: center;
    color: #4d1384;
    font-family: 'Eagle Lake', serif;
    text-align: center;
}

.buttons button {
    font-family: 'Eagle Lake', serif;
    color: #4d1384;
   
}