* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    text-align:center;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    overflow: auto;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}


/*header*/

header {
    position: sticky;
    top:0;
    height: 12vh;
}

.header-content {
    background-color: #300458;
    height: 12vh;
    width:100%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}

header a {
    text-decoration: none;
}

header h1{
    color: white;
    font-family: 'Eagle Lake', serif;
    font-size:2.5em;
    margin: 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

header h1:hover {
    color: #a49bda;
    transform: scale(1.1);
}

header .image-dropdown{
    appearance: none;
    background-image: url("../images/user.png");
    background-size: contain;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    align-self: center;
    border: 0.2rem solid #5f52aa;
    transition: all 0.3s ease;
}

.image-dropdown:hover {
    transform: scale(1.1);
    border-color: #a49bda;
}

/*main*/

main {
    background-color: #a49bda;
    color: white;
    font-family: 'Eagle Lake', serif;
    padding: 0rem;
    display: grid;
    grid-template-rows:auto 1fr;
    background-image: url("../images/fondo.png");
    background-size: contain;
}

.cont-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding-bottom: 1rem;
}

/*main header*/

.main-header {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0;
}

    .main-header .buttonsh1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    
        main button {
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        main button:hover{
            opacity: 50%;
        }
            .buttonsh {
                background-color: white;
                border-radius: 1em;
                border:#a49bda solid 0.1rem;
                height: 2em;
                width: 8em;
                align-self: center;
                color: #4d1384;
                font-family: "Eagle Lake", serif;
            }

            .button {

                background-color: rgba(0, 255, 255, 0);
                font-family: "Eagle Lake", serif;
                height: 100%;
                align-self: center;
                align-content: center;
                color: #85c439;
            }


            .buttons {
                align-content: center;
               
                font-family: "Eagle Lake", serif;
            }

            .return {
                width: 3.5em;
                padding: 0;
                border-radius: 50%;
                border: 0.1rem solid #ccc;
            }

    .info {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: #4d1384;
        padding: 0.5rem;
        margin: 1rem 1rem 1rem 1rem;
        border-radius: 1em;
    }

        main h1 {
            justify-self: center;
            padding: 0rem 1rem 0rem 1rem;
            border-radius: 1em;
        }


/*main section*/

section {
    font-family: 'Eagle Lake', serif;
    width: 70%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: white;
}
    
.tarjeta {
    width: 300px;
    height: 400px;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    color: #300458;
}

    .tarjeta:hover {
        transform: scale(1.1);
        opacity: 90%;
    }


    .tarjeta img {
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: contain;
    }

    .tarjeta h3 {
        color: #300458;
        text-align: center;
    }

@media (max-width: 760px) {
    h1 {
        font-size: 1.5em;
    }
    .header-content {
        height: 10vh;
    }
    .header {
        height: 10vh;
    }
}