html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid:
    "header" 20%
    "main" 1fr
    / 1fr;
    place-content: center;
    font-family: "Eagle Lake", serif;
    height: 100vh;
    background-image: url("images/libro.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button {
    border: none;
    background-color: #2f045800;
}

/*header*/

header {
    position: sticky;
    top:0;
    height: 12vh;
}

.header-content {
    background-color: #300458;
    height: 12vh;
    width:100%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}

    header a {
        text-decoration: none;
    }

    header h1{
        color: white;
        font-family: "Eagle Lake", serif;
        font-size:2.5em;
        margin: 0;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    header h1:hover {
        color: #a49bda;
        transform: scale(1.1);
    }

    header .image-dropdown{
        appearance: none;
        background-image: url("../images/user.png");
        background-size: contain;
        height: 4em;
        width: 4em;
        border-radius: 50%;
        align-self: center;
        border: 0.2rem solid #5f52aa;
        transition: all 0.3s ease;
    }

    .image-dropdown:hover {
        transform: scale(1.1);
        border-color: #a49bda;
    }


/*main*/

.return {
    position: absolute;
    top: calc(16vh - 2.4cm);
    left: calc(2cm - 0.5cm);
    width: 2.8em;
    height: 2.8em;
    padding: 0;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    background-color: transparent;
    z-index: 2000;
}

.return:hover {
    opacity: 1;
    transform: scale(1);
    background-color: transparent;
}

.return img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -1cm;
}

.cont-main {
    background-color: #300458;
    box-sizing: border-box;
    border: white 0.2em solid;
    padding: 0 1rem 1rem 1rem;
    border-radius: 5%;
    color: white;
    min-width: 35%;
}

h2 {
    text-align: center;
}

label {
    background-color: #300458;
}

input {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 0.1em white solid;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.savebtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: plum;
    padding: 0.3rem 0.6rem;
    border: white 0.2rem solid;
    border-radius: 1rem;
    font-family: "Eagle Lake", serif;
    width: calc(100% - 2rem);
    margin: 0 auto;
    display: block;
}

.savebtn:hover {
    background-color: #a49bda;
}

.cancelbtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.80em;
    color: white;
    background-color: rgb(138, 0, 0);
    padding: 0.3rem 0.6rem;
    border: white 0.2rem solid;
    border-radius: 1rem;
    font-family: "Eagle Lake", serif;
    width: calc(100% - 20rem);
    margin: 0.4cm auto 0;
    display: block;
}

.cancelbtn:hover {
    background-color: #a49bda;
}