html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid:
    "header" 20%
    "main" 1fr
    / 1fr;
    place-content: center;
    font-family: "Eagle Lake", serif;
    height: 100vh;
    background-image: url("images/libro.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    background-color: #300458;
    color: #fff;
    padding: 25px 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 33.4px;
    margin: 0;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    transform-origin: center;
    padding: 1rem 0.7rem 1rem 0.7rem;
}

.user-icon {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 3.3px solid #5f52aa;
    margin-left: 20px;
    margin-right: 1.5cm;
    margin-top: calc(2mm - 1mm);
    transition: all 0.3s ease;
    object-fit: cover;
    position: relative;
    left: 1mm;
    top: -1;
}

.user-icon:hover {
    background-color: #a49bda;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
}

header a {
    text-decoration: none;
}

header h1:hover {
    color: #a49bda;
    transform: scale(1.1);
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -1cm;
    z-index: 999;
}

.cont-main {
    background-color: #300458;
    box-sizing: border-box;
    border: white 0.2em solid;
    padding: 0 1rem 1rem 1rem;
    border-radius: 5%;
    color: white;
    min-width: 35%;
}

h2 {
    text-align: center;
}

label {
    background-color: #300458;
}

input {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 0.1em white solid;
    border-radius: 0.5rem;
}

.input {
    margin-right: 1em;
}

a {
    color: rgb(0, 187, 255);
}

.checkbox {
    background-color: blue;
    margin-right: 0;
    width: 5%;
    color: white;
}

.terms {
    font-size: 0.9em;
}

.clearfix {
    background-color: #300458;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: 0.5em;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: plum;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border: white 0.2rem solid;
    border-radius: 1rem;
    font-family: "Eagle Lake", serif;
}

button:hover {
    background-color: #a49bda;
}

.cancel {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cancelbtn {
    font-size: 0.8em;
}