/* Aplica box-sizing: border-box a todos los elementos de la página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
 /* Evitar desplazamiento horizontal */
    width: 100%; /* Asegurar que el body ocupe todo el ancho disponible */
}

@font-face {
    font-family: 'Eagle_Lake';
    src: url('fonts/EagleLake-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    overflow: auto;
    font-family: 'Eagle_Lake', Arial, sans-serif;
}

header {
    position: sticky;
    font-family: 'Eagle_Lake', Arial, sans-serif;
    top:0;
    height: 12vh;
    width: 100%;
    background-color: #300458;
    color: #fff;
    z-index: 1000;
}

.header-content {
    background-color: #300458;
    height: 12vh;
    width:100%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}

.user-icon {
    width: auto;
    height: 3.5em;
    border-radius: 50%;
    align-self: center;
    border: 0.2rem solid #5f52aa;
    transition: all 0.3s ease;
}

.user-icon:hover {
    background-color: #a49bda;
    transform: scale(1.1);
}

header a {
    text-decoration: none;
}

header h1 {
    margin: 0;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Eagle_Lake', Arial, sans-serif;
}

header h1:hover {
    color: #a49bda;
    transform: scale(1.1);
}

main {
    font-family: 'Eagle_Lake', Arial, sans-serif;
    color: #fff;
    background-image: url('images/fondo.png');
    background-position: top center; /* La imagen empieza desde la parte superior, centrada */
    background-repeat: repeat-y; /* Se repite solo verticalmente */
    background-size: auto; /* Mantiene el tamaño original de la imagen */
    min-height: 100%; /* Asegura que el contenido ocupe todo el alto */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    overflow: auto;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

.myLists h1{
    justify-self: center;
    background-color: #a49bda;
    height: 100%;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 1em;
}
.myLists{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.return {
    width: 3.5em;
    position: absolute;
    top: 14%;
    left: 5%;
    padding: 0;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
}

.return:hover {
    opacity: 0.5;
}

.newlist {
    width: 10em;
    height: 2em;
    vertical-align: middle;
    position: absolute;
    top: 15%;
    left: 10%;
    background-color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 1em;
}

a {
    text-decoration: none;
}
.newlist:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.layout {
    width: 100dw;
    display: grid;
    grid-template-columns: 1fr 85%;
    gap:0px;
    box-sizing: border-box;
    background-color: #a49bda00;
    justify-items: center;
    align-items: center;
    height: 100%;
    border-bottom: 0.1rem white solid;
    margin-right: 2rem;
    margin-left: 2rem;
}

.titulo {
    background-color: #300458;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Especifica el ancho de los títulos de cada sección */
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    
}

.titulo a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.titulo a:hover {
    text-decoration: underline;
    color: #a49bda;
}

/* Carruseles */
.carousel-container {
    width: calc(100% - 2cm); /* Igual que el tamaño del título de la sección */
    overflow-x: auto;
    box-sizing: border-box; /* Así el padding se mantiene dentro del contenedor */
    overflow-y: hidden;

}

.carousel-items {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: fit-content;
    background-color: rgba(0, 255, 255, 0);
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.carousel-item {
    width: 100px;
    height: auto;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;
}

.carousel-item:hover {
    transform: scale(1.1);
}

/* Ocultar la barra de desplazamiento horizontal */
.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Eliminar márgenes adicionales entre los carrousels */
.layout .carousel-container {
    margin-top: 0;
}

/* Separación entre el último carrousel y el footer */
main:last-child {
    padding-bottom: 3rem;
    border-bottom: 0rem rgba(255, 255, 255, 0) solid;
}
