html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

@font-face {
    font-family: 'Eagle_Lake';
    src: url('fonts/EagleLake-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr; /* Dos filas: una para el header y otra para el main */
    height: 100vh;
    font-family: "Eagle Lake", serif;
}
button {
    border: none;
    background-color: #2f045800;
}

/*header*/

header {
    position: sticky;
    top:0;
    height: 12vh;
}

.header-content {
    background-color: #300458;
    height: 12vh;
    width:100%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}

    header a {
        text-decoration: none;
    }

    header h1{
        color: white;
        font-family: "Eagle Lake", serif;
        font-size:2.5em;
        margin: 0;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    header h1:hover {
        color: #a49bda;
        transform: scale(1.1);
    }

    header .image-dropdown{
        appearance: none;
        background-image: url("../images/user.png");
        background-size: contain;
        height: 4em;
        width: 4em;
        border-radius: 50%;
        align-self: center;
        border: 0.2rem solid #5f52aa;
        transition: all 0.3s ease;
    }

    .image-dropdown:hover {
        transform: scale(1.1);
        border-color: #a49bda;
    }


/*main*/

main {
    grid-row: 2; /* Main ocupa el resto de la pantalla */
    background-image: url("images/cristalera.jpeg");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: calc(100vh - 12vh);
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.cont-main {
    background-color: #300458;
    border: white 0.2em solid;
    padding: 0 1.2rem 1.2rem 1.2rem;
    border-radius: 1em;
    color: white;
    min-width: 55%;
}

.columns {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

h2 {
    text-align: center;
}

label {
    background-color: #300458;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

input {
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 100%;
    border: 0em white solid;
    border-radius: 0.5rem;
}

.input {
    margin-right: 1em;
}

.image {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.clearfix {
    background-color: #300458;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: 0.5em;
    align-items: center;
}

.cancel {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.savebtn {
    background-color: plum;
    width: 94%;
    align-content: center;
}

.cancelbtn {
    font-size: 0.8em;
}

main button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: plum;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border: white 0.2rem solid;
    border-radius: 1rem;
    font-family: "Eagle Lake", serif;
}

.cancelbtn {
    background-color: rgb(138, 0, 0);
}

main button:hover {
    background-color: #a49bda;
}
