* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    text-align:center;
}

body {
    display: grid;
    font-family: "Eagle Lake", serif;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    overflow: auto;
}

button {
    border: none;
    background-color: #2f045800;
}

/*header*/

header {
    position: sticky;
    top:0;
    height: 12vh;
}

.header-content {
    background-color: #300458;
    height: 12vh;
    width:100%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
}

    header a {
        text-decoration: none;
    }

    header h1{
        color: white;
        font-family: 'Eagle Lake', serif;
        font-size:2.5em;
        margin: 0;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    header h1:hover {
        color: #a49bda;
        transform: scale(1.1);
    }

    header .image-dropdown{
        appearance: none;
        background-image: url("../images/user.png");
        background-size: contain;
        height: 4em;
        width: 4em;
        border-radius: 50%;
        align-self: center;
        border: 0.2rem solid #5f52aa;
        transition: all 0.3s ease;
    }

    .image-dropdown:hover {
        transform: scale(1.1);
        border-color: #a49bda;
    }


/*main*/

main {
    color: white;
    font-family: 'Eagle Lake', serif;
    width: 100dvw;
}

.main-content {
    background-image: url("../images/fondo.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



@media (max-width: 760px) {
    h1 {
        font-size: 1.5em;
    }
    .header-content {
        height: 10vh;
    }
    .header {
        height: 10vh;
    }
}

  /* Diseño responsivo */
@media (max-width: 768px) {
    .gallery-title {
      font-size: 1.5rem; /* Texto más pequeño en pantallas pequeñas */
    }
    .gallery {
      gap: 1rem; /* Reducir espacio entre imágenes */
    }
}



.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60%;
    border: 0.3em #5F52AA solid;
    border-radius: 1em;
    background-color: #300458;
    padding: 1em;
    text-align: left;
}

main h1 {
    text-align: center;
}

#preview { 
    margin-top: 20px; 
    max-width: 300px; /* Set max width for the preview image */ 
    max-height: 300px; /* Set max height for the preview image */ 
} 

.portada img {
    height: 300px;
    vertical-align: middle;
}



input, select, textarea {
    width: 100%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    height: 2.8em;
    border-radius: 1em;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

#bookcover {
    color: white;
}

.optgroup label {
    color: yellow;
}
textarea {
    height: 20em;
    border-radius: 1em;
    font-family: Arial;
    width: 100%;
}

option {
    height: 2.8rem;
    font-size: 1em;
}
h3 {
    display: block;
}
p {
    display: block;
}

.container > div.icons{
    grid-area: icon;
    padding: 0.2rem;
}

.icons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.icons img {
    height: 4em;
    justify-content: space-around;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #300458;
    border:0.1rem #5f52aa solid;
}
.icons img:hover  {
    opacity: 50%;
}

.container > div.lists{
    grid-area: footer;
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

button {
    border: none;
    background-color: #300458;
}



main button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: plum;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border: white 0.2rem solid;
    border-radius: 1rem;
    font-family: "Eagle Lake", serif;
}

main button:hover {
    background-color: #a49bda;
}

.cancel {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.savebtn {
    font-size: 1.1em;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-top: 1cm;
}

.cancelbtn {
    font-size: 0.8em;
    background-color: rgb(138, 0, 0);
}